<!-- <ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <strong>{{ title }}</strong>
    <div class="admin">A D M I N</div>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header class="ion-no-border" >
  
  <ion-toolbar color="primary" class="floating-toolbar">
    <ion-buttons slot="end">
      <!-- Back Button -->
      <ion-back-button *ngIf="backButton" [defaultHref]="backButton"></ion-back-button>
      <!-- Dismiss Modal Button -->
      <ion-button (click)="dismissModal()" *ngIf="isModal">
        <ion-icon name="close-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
     <!-- Logo centrado -->
    <div class="header-logo">
      <ion-img src="assets/icon/yavilogo.png"></ion-img>
    </div>
    <strong class="shiny-title header-title">{{ title }}</strong>
    <div class="admin">A D M I N</div>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>