<ion-menu contentId="menu-content" menuId="menu-content" side="start">
  <ion-content class="menu-content">
    <div class="menu-glass">
      <div class="menu-header">
        <h1 class="menu-brand">YaviTour</h1>
        <p class="menu-subtitle">Menú</p>
      </div>

      <div icon class="ion-text-center">
        <ion-icon class="avatar-icon" name="person-circle-outline"></ion-icon>
        <!-- ⭐ CAMBIAR user()?.name por currentUser?.name -->
        <h4>{{ currentUser?.name }}</h4>
      </div>

      <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
        <ion-item [ngClass]="{'active': currentPath === p.url}" [routerLink]="p.url" routerDirection="root" lines="none"
          detail="false" class="menu-item">
          <ion-icon [name]="p.icon" slot="start"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <!-- ⭐ AGREGAR $event al click -->
      <div mode="ios" class="logout-glass" (click)="signOut($event)">
        <ion-icon name="log-out-outline"></ion-icon>
        <span>Cerrar sesión</span>
      </div>
    </div>
  </ion-content>
</ion-menu>

<ion-router-outlet id="menu-content" main></ion-router-outlet>